[package]
name = "tauri-plugin-keygen-rs"
version = "0.1.1"
authors = ["ahonn"]
description = "Tauri plugin for Keygen.sh licensing, based on keygen-rs"
license = "MIT"
edition = "2021"
rust-version = "1.60"
exclude = ["/examples", "/webview-dist", "/webview-src", "node_modules"]

[dependencies]
tauri = { version = "1", features = ["os-api"] }
serde = "1.0"
thiserror = "1.0"
tokio = { version = "1.33.0", features = ["sync"] }
machine-uid = "0.5.1"
whoami = "1.5.1"
lazy_static = "1.4.0"
log = { version = "0.4", features = ["std"] }
keygen-rs = "0.2"
# keygen-rs = { path = "../.." }
